! URxvt*.transparent: true
! URxvt*.shading: 0 to 99 darkens, 101 to 200 lightens
! URxvt*.shading: 90

! Fixing flickering:
! URxvt*.transparent:  false
! URxvt*.inheritPixmap: false

URxvt.perl-ext-common: default,-searchable-scrollback,resize-font
URxvt.tabbed.autohide: yes
URxvt.tabbed.title: false

URxvt*.scrollBar: false

! Alt keys:
URxvt*.meta8: true

! URxvt.foreground: DarkGoldenrod1
! URxvt*.foreground: #EBC593
! URxvt*.foreground: #ffaf00
! URxvt*.background: #1b1b1b
! URxvt*.foreground: #75F7EF
! URxvt*.foreground: #E6C29E
! URxvt*.foreground: #FFAF5F
! URxvt*.foreground: #49B4CC
! URxvt*.foreground: #F5A754

! URxvt*.foreground: #DADADA
! URxvt*.foreground: #DFA04A
! URxvt*.foreground: #CF423F
! URxvt*.foreground: #FFD7FF
! URxvt*.background: #1b1b1b
! URxvt*.background: #2E2E2E
! URxvt*.background: #1D1200
! URxvt*.background: #2B2117
! URxvt.depth: 24
! URxvt.background: [15]#000000
! URxvt*.cursorColor: #F76345
! URxvt*.cursorColor: #A75BC1
! URxvt*.cursorColor: #A08E6B
! URxvt*.cursorColor: #995834

! Hawk
! URxvt*.foreground: #F7DC75
! URxvt*.background: #101111
! URxvt*.cursorColor: #B7F2D2

! Lab
/* URxvt*.foreground: #5FFF87 */
/* URxvt*.background: #031403 */
/* URxvt*.cursorColor: #B7F2D2 */

! Science
/* URxvt*.foreground: #383838 */
/* URxvt*.background: #FFFFFF */
/* URxvt*.cursorColor: #FFDCA6 */
/* URxvt*.cursorColor2: #564A4A */

! Thief/JP
/* URxvt*.foreground: #EEE36A */
/* URxvt*.background: #0E0A17 */
/* URxvt*.cursorColor: #B7F2D2 */

! Acme
/* URxvt*.foreground: #EEE36A */
/* URxvt*.background: #0E0A17 */
/* Urxvt*.cursorColor: #EC7154 */
/* Urxvt*.cursorColor2: #0E0A17 */

! Freefall
/* URxvt*.foreground: #DFDFDF */
/* URxvt*.background: #0F0F0F */
/* Urxvt*.cursorColor: #0F0F0F */
/* Urxvt*.cursorColor2: #DFDFDF */

! Net-yellow
URxvt*.foreground: #DE9144
URxvt*.background: #0F0F0F
Urxvt*.cursorColor: #0F0F0F
Urxvt*.cursorColor2: #DFDFDF

! Chernozem
/* URxvt*.foreground: #AF5F5F */
/* URxvt*.background: #080808 */
/* Urxvt*.cursorColor: #080808 */
/* Urxvt*.cursorColor2: #DFDFDF */
/* URxvt*.color0: #AF5F5F */
/* URxvt*.color1: #AF5F5F */
/* URxvt*.color2: #AF5F5F */
/* URxvt*.color3: #AF5F5F */
/* URxvt*.color4: #AF5F5F */
/* URxvt*.color5: #AF5F5F */
/* URxvt*.color6: #AF5F5F */
/* URxvt*.color7: #AF5F5F */
/* URxvt*.color8: #AF5F5F */
/* URxvt*.color9: #AF5F5F */
/* URxvt*.color10: #AF5F5F */
/* URxvt*.color11: #AF5F5F */
/* URxvt*.color12: #AF5F5F */

! alien-nes
/* URxvt*.foreground: #5FFFAF */
/* URxvt*.background: #0F0F0F */
/* Urxvt*.cursorColor: #0F0F0F */
/* Urxvt*.cursorColor2: #DFDFDF */

! druid
/* URxvt*.foreground: #AF875F */
/* URxvt*.background: #0F0F0F */
/* Urxvt*.cursorColor: #0F0F0F */
/* Urxvt*.cursorColor2: #DFDFDF */

! URxvt*.tabbed.tab-bg: #98D53D
! URxvt*.tabbed.tab-bg: 5

/* This block gets overridden by monotone schemes */
URxvt*.color0: #3F3F3F
URxvt*.color1: #E57952
URxvt*.color2: #267952
URxvt*.color4: #3465A4
URxvt*.color5: #CC44DE
URxvt*.color9: #98D53D
URxvt*.color12: #3A7BDE
URxvt*.tabbed.tab-bg: 9

/* URxvt.keysym.Meta-F1: perl:tabbedex:prev_tab */
/* URxvt.keysym.Meta-F2: perl:tabbedex:next_tab */
/* URxvt.keysym.Meta-F3: perl:tabbedex:new_tab */
/* URxvt.keysym.Meta-F4: perl:tabbedex:rename_tab */

/* URxvt.font: xft:Liberation Mono:pixelsize=10 */
/* URxvt.boldFont: xft:Liberation Mono:bold:pixelsize=10 */
/* URxvt.letterSpace: -1 */

/* URxvt*font: xft:Fixed:size=8:antialias=false */
/* URxvt*boldFont: xft:Fixed:size=8:weight=Bold:antialias=false */
/* URxvt.letterSpace: -4 */

/* Derived from appres XTerm xterm | grep font5
 * & eexperimentation from xfontsel. Key point is semicondensed. */
/* URxvt*font: -misc-fixed-medium-r-semicondensed--13-*-*-*-c-*-iso10646-1 */
/* URxvt*boldFont: -misc-fixed-medium-r-semicondensed--13-*-*-*-c-*-iso10646-1 */

/* URxvt*font: -misc-fixed-medium-r-normal--10-*-*-*-c-*-iso10646-1 */
/* URxvt*boldFont: -misc-fixed-medium-r-normal--10-*-*-*-c-*-iso10646-1 */

/* URxvt*font: xft:Monospace:size=8:antialias=true */
/* URxvt*boldFont: xft:Monospace:size=8:weight=Bold:antialias=true */
/* URxvt.letterSpace: -1 */

/* URxvt*font: xft:Iosevka SS04:size=9:antialias=true */
/* URxvt*boldFont: xft:Iosevka SS04:size=9:weight=Bold:antialias=true */
/* URxvt.letterSpace: -1 */

/* URxvt*font: xft:Iosevka SS04:size=8:antialias=true */
/* URxvt*boldFont: xft:Iosevka SS04:size=8:weight=Bold:antialias=true */
/* URxvt.letterSpace: 0 */

/* URxvt*font: xft:Anka/Coder Narrow:size=9:antialias=true */
/* URxvt*boldFont: xft:Anka/Coder Narrow:size=9:weight=Bold:antialias=true */
/* URxvt.letterSpace: -1 */

/* URxvt*font: xft:Anka/Coder Narrow:size=11:antialias=true */
/* URxvt*boldFont: xft:Anka/Coder Narrow:size=11:weight=Bold:antialias=true */
/* URxvt.letterSpace: -1 */

/* URxvt*font: xft:Anka/Coder Narrow:size=12:antialias=true */
/* URxvt*boldFont: xft:Anka/Coder Narrow:size=12:weight=Bold:antialias=true */
/* URxvt.letterSpace: -1 */

/* URxvt*font: xft:Hack:size=6:antialias=true */
/* URxvt*boldFont: xft:Hack:size=6:weight=Bold:antialias=true */
/* URxvt.letterSpace: -1 */

/* URxvt*font: xft:Scientifica:size=8:antialias=true */
/* URxvt*boldFont: xft:Scientifica:size=8:weight=Bold:antialias=true */
/* URxvt.letterSpace: 1 */

#include ".Xres_fonts"

!Black
! *color0: #262626
!Blue
! *color4: #4CB4E8
!Bright blue
! *color12: #3DC3D7
!Yellow
! *color3: #CFC17A

! Dzen2
/* dzen2.font: -misc-fixed-medium-r-semicondensed--10-*-*-*-c-*-*-1 */
dzen2.font: -misc-fixed-medium-r-*--11-*-*-*-c-*-*-1
dzen2.foreground: #F7DC75
dzen2.background: #262626

/* freefall */
/* dzen2.foreground: #DFDFDF */
/* dzen2.background: #0F0F0F */
