# ||
# || Shebang
# ||

priority -1

snippet vim "vim" b
# vim:ft=
endsnippet

snippet ft "vim" b
# vim:ft=
endsnippet

snippet # "shebang" b
#!/usr/bin/env $1
endsnippet

snippet #! "shebang!" b
#!/usr/bin/env $1
endsnippet

snippet perl "perl" b
#!/usr/bin/env perl
endsnippet

snippet ruby "ruby" b
#!/usr/bin/env ruby
endsnippet

snippet lisp "lisp" w
;;; vim:ft=lisp
endsnippet

# vim:ft=snippets:
