snippet /d(a)?(te)?/ "Date" rb
! `date-utc` !

$0
endsnippet

snippet f "f" b
: ${1:do-something} ( ${2:x} -- $3 )
	${VISUAL}$5 ; ${4:inline}
endsnippet

snippet ; "inline" w
; inline
endsnippet

snippet [ "quotation" w
[ $1 ]$2
endsnippet

snippet priv "private" b
<PRIVATE

${VISUAL}$0

PRIVATE>
endsnippet

snippet t "test" b
[ ${1:t} ] [ $2 ] unit-test
endsnippet
