snippet wip "Description" b
WIP: `!v system('date | tr -d "\n"')`${0}
endsnippet

snippet / *d(a)?(te)?/ "Date" rb
`!v system('date-utc | tr -d "\n"')`${0}
endsnippet

snippet in "initial commit" b
Initial commit
endsnippet
