snippet /(\s+)case/ "case" ir
`!p if match.group(1) is not None:
    snip.rv = match.group(1)`case $1 of
    Maybe a => a
    Nothing => 0
endsnippet

snippet main "main" b
main : IO ()
main = putStrLn "Hello"
endsnippet

snippet f "f" b
${1:fname} : ${2:List a} -> ${3:List a}
endsnippet

snippet i "i" b
import ${1:Effects}
endsnippet
