snippet if "if" b
if ${1:test -f ${2:file}}
	${VISUAL}$0
end
endsnippet

snippet for "for" b
fir ${1:d} in ${2:dirs}
	${VISUAL}$0
end
endsnippet

snippet f "f" b
fn ${1:name} ${2:arg1}
	$0
end
endsnippet
