# ||
# || Date
# ||

snippet / *d(a)?(te)?/ "Date" rb
# `date-utc`

${0}
endsnippet

# ||
# || Functions
# ||

snippet "(\()?\bf" "defn" rw
(defn ${1:name} [$2]
	${3:nil}`!p
if match.group(1) is None:
	snip.rv = ")"`
endsnippet

# ||
# || Fallbacks
# ||

priority -3

snippet  /([\!:\w=-]+)/ "expand-any-word" rw
(`!p
if match.group(0) is not None:
	snip.rv = match.group(0)` $1)
endsnippet
