extends local.words.markdown

snippet / *d(a)?(te)?/ "Date" rb
## `date-utc` ##
${0}
endsnippet

snippet ad "ad" i
`!v system('date-utc | tr -d "\n"')`: ${0}
endsnippet

snippet at "at" b
(at "`date-utc`"
	(${0}))
endsnippet
