extends local.words.markdown

snippet / *d(a)?(te)?/ "Date" rb
## `date-utc` ##
${0}
endsnippet

snippet ad "ad" i
`!v system('date-utc | tr -d "\n"')`: ${0}
endsnippet

snippet at "at" b
(at "`date-utc`"
	(${0}))
endsnippet

snippet is "is" b
(is$2 $1)
endsnippet

snippet > "->" b
(->
  $0)
endsnippet

snippet /\s/ "/\s/" r
 ($1)
endsnippet

# More info in autoload/helpers.vim
snippet /^/ "^$" r
($0)`!v helpers#0a()`
endsnippet

snippet . "." i
(. $1)
endsnippet
