snippet / *d(a)?(te)?/ "Date" rb
## `date-utc` ##

${0}
endsnippet

snippet f "f" b
function ${1:f}($2)
	$3
end
endsnippet

snippet b "BASEMENT" b
if false
	$1
end
endsnippet

snippet do "do" w
do ${1:element}
	$2
end
endsnippet

snippet struct "struct" w
struct $1
end
endsnippet

snippet comp "comp" w
∘($1, $2)
endsnippet

priority -3

snippet  /([\!:\w=-]+)/ "expand-any-word" rw
`!p
if match.group(0) is not None:
	snip.rv = match.group(0)`($1)
endsnippet
