# urn

snippet imp "import" b
(import ${1:lua/math} (${2:random}))$0
endsnippet

snippet /(f|def)/ "defun" r
(defun ${1:name} (${2:arg})
	(${3:print! "Unfinished: \n  (defun $1 ($2))"}))
endsnippet

snippet define "define" b
(define ${1:name}
	${2:"value"})
endsnippet

snippet pr "print" b
(print! ${1:"Peace among worlds"})
endsnippet

snippet for "for" b
(for ${1:i} ${2:from} ${3:to} 1
	(${4:print! i}))
endsnippet

snippet cond "cond" i
(cond
	[(= x 2)
	 (print! "hey"])
endsnippet
