snippet d "d" b
% `date-utc` %
${0}
endsnippet

# Colon is a shell noop
snippet ft "ft" b
% vim`!:`: ft=prolog
endsnippet

snippet dd "dd-comment" b
// `!v system('date-jiv | tr -d "\n"')` ${0}
endsnippet

snippet dd "dd-inline" w
`!v system('date-jiv | tr -d "\n"')` ${0}
endsnippet
