extends scheme

priority 1

snippet if "if" i
(if (> 0 (vector-length (current-command-line-arguments)))
	(displayln "Unexpected arguments.")
	(displayln "Unexpected absence of arguments."))
endsnippet
