snippet i "i" b
use ${1:std::io};
endsnippet

snippet /(\s+)p/ "println" ir
`!p snip.rv = match.group(1)`println!("$1");$0
endsnippet

snippet .ex "expect" i
.expect("$1");$0
endsnippet

snippet loop "loop" b
loop {
    ${VISUAL}$0
}
endsnippet

snippet { "{" i
{
	$0
}
endsnippet

snippet Ok "Ok" b
Ok(num) => num,
Err(_) => continue,
endsnippet
