# ||
# || Date
# ||

snippet / *d(a)?(te)?/ "Date" rb
" `date-utc` "
${0}
endsnippet

# ||
# || Basement
# ||

# If line above is empty, basement:
snippet /^$/ "basement-implicit" "re.match('^$', snip.buffer[snip.line-1])" re
"
	${VISUAL}${1:`!p

if not snip.v.text:
	snip.rv = ""
`}
"
endsnippet
