extends sh

snippet #! "shebang" !
#!/bin/zsh

endsnippet

snippet !env "#!/usr/bin/env (!env)" !
#!/usr/bin/env zsh

endsnippet

snippet p "p" b
zplug "$1"
endsnippet

snippet { "{{{" i
# {{{
${VISUAL}$0
# }}}
endsnippet

# vim:ft=snippets:
