! URxvt*.transparent: true
! URxvt*.shading: 0 to 99 darkens, 101 to 200 lightens
! URxvt*.shading: 90

! Fixing flickering:
! URxvt*.transparent:  false
! URxvt*.inheritPixmap: false

URxvt.perl-ext-common: default,tabbedex
URxvt.tabbed.autohide: yes
URxvt.tabbed.title: false

URxvt*.scrollBar: false

! URxvt.foreground: DarkGoldenrod1
! URxvt*.foreground: #EBC593
! URxvt*.foreground: #ffaf00
! URxvt*.background: #1b1b1b
! URxvt*.foreground: #75F7EF
! URxvt*.foreground: #E6C29E
! URxvt*.foreground: #FFAF5F
URxvt*.foreground: #DADADA
URxvt*.background: #1b1b1b
! URxvt.depth: 24
! URxvt.background: [15]#000000
! URxvt*.cursorColor: #F76345
URxvt*.cursorColor: #A75BC1

! URxvt*.tabbed.tab-bg: #98D53D
! URxvt*.tabbed.tab-bg: 5
URxvt*.color0: #3F3F3F
URxvt*.color9: #98D53D
URxvt*.tabbed.tab-bg: 9

URxvt.keysym.Meta-h: perl:tabbedex:prev_tab
URxvt.keysym.Meta-l: perl:tabbedex:next_tab
URxvt.keysym.Meta-c: perl:tabbedex:new_tab
URxvt.keysym.Meta-t: perl:tabbedex:rename_tab

! URxvt.font: xft:Liberation Mono:pixelsize=11
! URxvt.boldFont: xft:Liberation Mono:bold:pixelsize=11
! URxvt.letterSpace: -1

! URxvt*font: xft:Fixed:size=11:antialias=false
! URxvt*boldFont: xft:Fixed:size=11:weight=Bold:antialias=false
! URxvt.letterSpace: 0

URxvt*font: xft:Monospace:size=8:antialias=true
URxvt*boldFont: xft:Monospace:size=8:weight=Bold:antialias=true
URxvt.letterSpace: -1

! URxvt*font: xft:Anka/Coder Narrow:size=10:antialias=true
! URxvt*boldFont: xft:Anka/Coder Narrow:size=10:weight=Bold:antialias=true
! URxvt.letterSpace: 0

!Black
! *color0: #262626
!Blue
! *color4: #4CB4E8
!Bright blue
! *color12: #3DC3D7
!Yellow
! *color3: #CFC17A
